#centerdiv {
    position:fixed;
    top: 50%;
    left: 50%;
    width:300px;
    height:200px;
    margin-top: -200px;
    margin-left: -150px;
    text-align: center;
}

.right-bottom-align-text {
    position: relative;
    bottom: 0;
    right: 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.ept {
    position: relative;
    top: 0px;
    left: 0%;
}