<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/layouts/standard.xhtml">


    <ui:define name="content">
        <h1>#{msg['label_purpose_edit_title']}</h1>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputLabel for="purposeName">#{msg['label_purpose_name']}
                </h:outputLabel>
                <p:inputText id="purposeName" value="#{purposeEditBean.purpose.purposeName}"/>
            </h:panelGrid>
            <h3>#{msg['label_purpose_detergents']}:</h3>
            <p:pickList value="#{purposeEditBean.detergents}"
                        var="detergent"
                        itemLabel="#{detergent.detergentShortName}"
                        itemValue="#{detergent}"
                        converter="genericPickListConverter"/>
            <p:toolbar>
                <p:toolbarGroup align="left">
                    <p:commandButton value="#{msg['label_button_back']}" icon="ui-icon-arrowreturn-1-w" action="exit" immediate="true"/>
                    <p:commandButton value="#{msg['label_button_save']}" icon="ui-icon-check" action="save"/>
                </p:toolbarGroup>
            </p:toolbar>
        </h:form>
    </ui:define>
</ui:composition>