<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://
www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/layouts/standard.xhtml">
    <ui:define name="content">
        <h:form id="formTable">
            <h:panelGrid columns="1">
                <p:commandButton value="#{msg['label_button_add']}" icon="ui-icon-plus" action="add"/>
                <p:dataTable var="purpose"
                             value="#{purposeListBean.purposes}"
                             paginator="true"
                             rows="10"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink}
                                {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}
                                {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15"
                             rowKey="#{purpose.id}"
                             selectionMode="single"
                             selection="#{purposeListBean.selectedPurpose}"
                             sortBy="#{purpose.id}"
                             editable="true"
                             editMode="row"
                             resizableColumns="true">

                    <f:facet name="header">
                        #{msg['label_purpose_list']}
                    </f:facet>

                    <p:ajax event="rowEdit" listener="#{purposeListBean.onRowEdit}"/>

                    <p:column sortBy="#{purpose.id}"
                              headerText="#{msg['label_purpose_id']}"
                              style="width: 60px">
                        <h:outputText value="#{purpose.id}"/>
                    </p:column>

                    <p:column sortBy="#{purpose.purposeName}"
                              headerText="#{msg['label_purpose_name']}">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{purpose.purposeName}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{purpose.purposeName}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column style="width:32px">
                        <p:rowEditor/>
                    </p:column>

                    <p:column style="width:32px">
                        <p:commandButton icon="ui-icon-trash"
                                         title="#{msg['label_purpose_delete_this']}"
                                         actionListener="#{purposeListBean.removePurpose(purpose)}"
                                         ajax="true"
                                         update=":formTable"
                                         style="width:30px; height:20px"
                                />
                    </p:column>

                    <f:facet name="footer">
                        <div align="left">
                            <p:commandButton value="#{msg['label_button_view']}" icon="ui-icon-search" action="view"/>
                            <p:commandButton value="#{msg['label_button_edit']}" icon="ui-icon-pencil" action="edit"/>
                        </div>
                    </f:facet>
                </p:dataTable>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>