<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/layouts/standard.xhtml">
    <ui:define name="content">
        <h1>Add Technology Map row</h1>

        <h:form id="formAdd">

            <h:panelGrid columns="2">
                <p:outputLabel for="selectAreaColor1" value="Area Color 1"/>
                <p:selectOneMenu id="selectAreaColor1"
                                 value="#{technologyMapAddBean.technologyMap.areaColor1}"
                                 var="zc"
                                 converter="genericSelectOneMenuConverter">

                    <f:selectItems value="#{technologyMapAddBean.areaColors}"
                                   var="areaColor"
                                   itemLabel="#{areaColor.areaColorName}"
                                   itemValue="#{areaColor}"/>

                    <p:column>
                        <h:outputText value="#{zc.areaColorName}"/>
                    </p:column>

                    <p:column>
                        <h:outputText value="#{zc.areaColorValue}"/>
                    </p:column>

                    <p:column>
                        <h:outputText value="_______" style="background-color: ##{zc.areaColorValue}"/>
                    </p:column>
                </p:selectOneMenu>

                <p:outputLabel for="selectAreaColor2" value="Area Color 2"/>
                <p:selectOneMenu id="selectAreaColor2"
                                 value="#{technologyMapAddBean.technologyMap.areaColor2}"
                                 var="zc"
                                 converter="genericSelectOneMenuConverter">

                    <f:selectItems value="#{technologyMapAddBean.areaColors}"
                                   var="areaColor"
                                   itemLabel="#{areaColor.areaColorName}"
                                   itemValue="#{areaColor}"/>

                    <p:column>
                        <h:outputText value="#{zc.areaColorName}"/>
                    </p:column>

                    <p:column>
                        <h:outputText value="#{zc.areaColorValue}"/>
                    </p:column>

                    <p:column>
                        <h:outputText value="_______" style="background-color: ##{zc.areaColorValue}"/>
                    </p:column>
                </p:selectOneMenu>

                <p:outputLabel for="selectArea" value="Area:"/>
                <p:selectOneMenu id="selectArea"
                                 value="#{technologyMapAddBean.technologyMap.area}"
                                 var="z"
                                 converter="genericSelectOneMenuConverter">

                    <p:ajax listener="#{technologyMapAddBean.onAreaChange}"
                            update="selectPurpose"/>

                    <f:selectItems value="#{technologyMapAddBean.areas}"
                                   var="area"
                                   itemLabel="#{area.areaName}"
                                   itemValue="#{area}"/>

                    <p:column>
                        <h:outputText value="#{z.areaName}"/>
                    </p:column>

                </p:selectOneMenu>


                <p:outputLabel for="selectPurpose" value="Purpose:"/>
                <p:selectOneMenu id="selectPurpose"
                                 value="#{technologyMapAddBean.technologyMap.purpose}"
                                 var="p"
                                 converter="genericSelectOneMenuConverter"
                                 style="width: 150px">

                    <p:ajax listener="#{technologyMapAddBean.onPurposeChange}"
                            update="selectDetergent"/>

                    <f:selectItems value="#{technologyMapAddBean.purposes}"
                                   var="purpose"
                                   itemLabel="#{purpose.purposeName}"
                                   itemValue="#{purpose}"/>

                    <p:column style="width: 10%">
                        <h:outputText value="#{p.id}"/>
                    </p:column>

                    <p:column>
                        <h:outputText value="#{p.purposeName}"/>
                    </p:column>

                </p:selectOneMenu>

                <p:outputLabel for="selectDetergent" value="Detergent:"/>
                <p:selectOneMenu id="selectDetergent"
                                 value="#{technologyMapAddBean.technologyMap.detergent}"
                                 var="c"
                                 converter="genericSelectOneMenuConverter">

                    <p:ajax listener="#{technologyMapAddBean.onDetergentChange}"
                            update="selectDosage"/>

                    <f:selectItems value="#{technologyMapAddBean.detergents}"
                                   var="detergent"
                                   itemLabel="#{detergent.detergentShortName}"
                                   itemValue="#{detergent}"/>

                    <p:column>
                        <h:outputText value="#{c.detergentShortName}"/>
                    </p:column>

                    <p:column>
                        <h:outputText value="#{c.detergentName}"/>
                    </p:column>

                </p:selectOneMenu>

                <p:outputLabel for="selectDosage" value="Dosage:"/>
                <p:selectOneMenu id="selectDosage"
                                 value="#{technologyMapAddBean.technologyMap.dosage}"
                                 var="d"
                                 converter="genericSelectOneMenuConverter">

                    <f:selectItems value="#{technologyMapAddBean.dosages}"
                                   var="dosage"
                                   itemLabel="#{dosage.dosageContent}"
                                   itemValue="#{dosage}"/>

                    <p:column>
                        <h:outputText value="#{d.dosageContent}"/>
                    </p:column>
                </p:selectOneMenu>

                <p:outputLabel for="selectPeriodicity" value="Periodicity:"/>
                <p:selectOneMenu id="selectPeriodicity"
                                 value="#{technologyMapAddBean.technologyMap.periodicity}"
                                 var="p"
                                 converter="genericSelectOneMenuConverter">

                    <f:selectItems value="#{technologyMapAddBean.periodicities}"
                                   var="periodicity"
                                   itemLabel="#{periodicity.periodicityName}"
                                   itemValue="#{periodicity}"/>

                    <p:column>
                        <h:outputText value="#{p.periodicityName}"/>
                    </p:column>
                </p:selectOneMenu>

                <p:outputLabel for="selectTemperature" value="Temperature:"/>
                <p:selectOneMenu id="selectTemperature"
                                 value="#{technologyMapAddBean.technologyMap.temperature}"
                                 var="d"
                                 converter="genericSelectOneMenuConverter">

                    <f:selectItems value="#{technologyMapAddBean.temperatures}"
                                   var="temperature"
                                   itemLabel="#{temperature.temperatureValue}"
                                   itemValue="#{temperature}"/>

                    <p:column>
                        <h:outputText value="#{d.temperatureValue}"/>
                    </p:column>
                </p:selectOneMenu>

                <p:outputLabel for="selectExpoTime" value="Expo Time:"/>
                <p:selectOneMenu id="selectExpoTime"
                                 value="#{technologyMapAddBean.technologyMap.expoTime}"
                                 var="ep"
                                 converter="genericSelectOneMenuConverter">

                    <f:selectItems value="#{technologyMapAddBean.expoTimes}"
                                   var="expoTime"
                                   itemLabel="#{expoTime.expoTimeValue}"
                                   itemValue="#{expoTime}"/>

                    <p:column>
                        <h:outputText value="#{ep.expoTimeValue}"/>
                    </p:column>
                </p:selectOneMenu>

                <p:outputLabel for="selectSiz" value="SIZ:"/>
                <p:selectOneMenu id="selectSiz"
                                 value="#{technologyMapAddBean.technologyMap.siz}"
                                 var="s"
                                 converter="genericSelectOneMenuConverter">

                    <f:selectItems value="#{technologyMapAddBean.sizs}"
                                   var="siz"
                                   itemLabel="#{siz.sizName}"
                                   itemValue="#{siz}"/>

                    <p:column>
                        <h:outputText value="#{s.sizName}"/>
                    </p:column>
                </p:selectOneMenu>

                <p:outputLabel for="selectUsage" value="Usage:"/>
                <p:outputPanel id="selectUsage">
                    <p:selectOneRadio id="customRadio" value="#{technologyMapAddBean.standard}" layout="custom">
                        <f:selectItems value="#{technologyMapAddBean.standards}" var="s" itemLabel="#{standard}" itemValue="#{standard}"/>

                        <p:ajax update="selectStandardUsage, selectNonStandardUsages"/>

                    </p:selectOneRadio>

                    <h:panelGrid columns="3" cellpadding="5">
                        <p:radioButton id="opt1" for="customRadio" itemIndex="0" />
                        <h:outputLabel for="opt1" value="Standard" />
                        <p:selectOneMenu id="selectStandardUsage"
                                         value="#{technologyMapAddBean.selectedStandardUsage}"
                                         var="sa"
                                         converter="genericSelectOneMenuConverter"
                                         disabled="#{technologyMapAddBean.standard != 'Standard'}">

                            <f:selectItems value="#{technologyMapAddBean.standardUsages}"
                                           var="usage"
                                           itemLabel="#{usage.usageName}"
                                           itemValue="#{usage}"/>

                            <p:column>
                                <h:outputText value="#{sa.usageName}"/>
                            </p:column>

                        </p:selectOneMenu>

                        <p:radioButton id="opt2" for="customRadio" itemIndex="1" />
                        <h:outputLabel for="opt2" value="Nonstandard" />
                        <p:pickList id="selectNonStandardUsages"
                                    value="#{technologyMapAddBean.nonStandardUsages}"
                                    var="usage"
                                    itemLabel="#{usage.usageName}"
                                    itemValue="#{usage}"
                                    converter="genericPickListConverter"
                                    disabled="#{technologyMapAddBean.standard != 'Nonstandard'}"/>


                    </h:panelGrid>
                </p:outputPanel>

            </h:panelGrid>
            <p:toolbar>
                <p:toolbarGroup align="left">
                    <p:commandButton value="#{msg['label_button_back']}" icon="ui-icon-arrowreturn-1-w" action="exit" immediate="true"/>
                    <p:commandButton value="#{msg['label_button_save']}" icon="ui-icon-check" action="save"/>
                </p:toolbarGroup>
            </p:toolbar>


        </h:form>
    </ui:define>
</ui:composition>