<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://
www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/layouts/standard.xhtml">

    <ui:define name="content">

        <p:growl id="msgs" showDetail="true"/>

        <h:form id="formTable">
            <h:panelGrid columns="1">
                <p:commandButton value="#{msg['label_technologymap_add']}" icon="ui-icon-plus" action="add"/>
                <p:dataTable id="superDataTable"
                             var="technologyMap"
                             value="#{technologyMapListBean.technologyMaps}"
                             paginator="true"
                             rows="10"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink}
                                {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}
                                {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15"
                             rowKey="#{technologyMap.id}"
                             selectionMode="single"
                             selection="#{technologyMapListBean.selectedTechnologyMap}"
                             editable="false"
                             sortBy="#{technologyMap.id}"
                             resizableColumns="true"
                        >

                    <f:facet name="header">
                        #{msg['label_technologymap_list']}
                    </f:facet>

                    <p:columnGroup type="header">
                        <p:row>
                            <p:column headerText="#{msg['label_technologymap_id']}" sortBy="#{technologyMap.id}"
                                      width="20"/>

                            <p:column width="20"
                                      style="height: 140px;">
                                <f:facet name="header">
                                    <div style="padding-top: 80px">
                                        <div style="-moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg);">
                                            <h:outputText value="#{msg['label_technologymap_clean_area']}"/>
                                        </div>
                                    </div>
                                </f:facet>
                            </p:column>

                            <p:column headerText="#{msg['label_technologymap_purpose']}"/>

                            <p:column colspan="2" headerText="#{msg['label_technologymap_detergent']}"/>

                            <p:column colspan="2" headerText="#{msg['label_technologymap_dosage']}"/>

                            <p:column headerText="#{msg['label_technologymap_usages']}" width="150"/>

                            <p:column headerText="#{msg['label_technologymap_periodicity']}"/>

                            <p:column style="white-space: normal;"
                                      headerText="#{msg['label_technologymap_temperature']} / #{msg['label_technologymap_ExpoTime']} / #{msg['label_technologymap_siz']}"/>

                            <p:column width="32"/>
                        </p:row>
                    </p:columnGroup>

                    <p:column>
                        <h:outputText value="#{technologyMap.id}"/>
                    </p:column>

                    <p:column
                            style="background: -moz-linear-gradient(##{technologyMap.areaColor1.areaColorValue} 50%,##{technologyMap.areaColor2.areaColorValue} 50%);
                              background: -webkit-linear-gradient(##{technologyMap.areaColor1.areaColorValue} 50%,##{technologyMap.areaColor2.areaColorValue} 50%);">
                    </p:column>

                    <p:column style="white-space: normal;">
                        <h:outputText value="#{technologyMap.purpose.purposeName}"/>
                    </p:column>

                    <p:column style="white-space: normal;">
                        <h:outputText value="#{technologyMap.detergent.detergentName}"/>
                    </p:column>

                    <p:column style="text-align: center">
                        <p:graphicImage value="#{imageStreamBean.detergentImage}" width="60" cache="false">
                            <f:param value="#{technologyMap.detergent.id}" name="detergentId"/>
                        </p:graphicImage>
                    </p:column>

                    <p:column style="white-space: normal;">
                        <h:outputText value="#{technologyMap.dosage.dosageContent}"/>
                    </p:column>

                    <p:column style="text-align: center">
                        <p:graphicImage value="#{imageStreamBean.dosageImage}" width="60" cache="false">
                            <f:param value="#{technologyMap.dosage.id}" name="dosageId"/>
                        </p:graphicImage>
                    </p:column>

                    <p:column style="white-space: normal;">
                        <h:outputText value="#{technologyMap.usagesAsString}" escape="false"/>
                    </p:column>

                    <p:column style="white-space: normal;">
                        <h:outputText value="#{technologyMap.periodicity.periodicityName}"/>
                    </p:column>

                    <p:column style="white-space: normal;">
                        <h:outputText
                                value="#{technologyMap.temperature.temperatureValue} / #{technologyMap.expoTime.expoTimeValue} / #{technologyMap.siz.sizName}"/>
                    </p:column>

                    <p:column>
                        <p:commandButton icon="ui-icon-trash"
                                         title="#{msg['label_technologymap_delete_this']}"
                                         actionListener="#{technologyMapListBean.removeTechnologyMap(technologyMap)}"
                                         ajax="true"
                                         update=":formTable"
                                         style="width:30px; height:20px"
                                />
                    </p:column>

                </p:dataTable>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>