<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/tags">

<f:view contentType="text/html">
    <h:head></h:head>
    <h:body>

        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"/>
                <div class="ui-grid-col-2">
                    <h:graphicImage name="img/logo.png"/>
                </div>
                <div class="ui-grid-col-2"/>
                <div class="ui-grid-col-4">
                    <div align="right" style="padding-top: 75px; font-size: 120%">
                        <h:form rendered="#{sec:areAnyGranted('ROLE_USER, ROLE_ADMIN')}">

                            #{msg['label_header_welcome']} ${currentUser.name}

                            &nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;

                            #{msg['label_header_language']}
                            <h:selectOneMenu value="#{localeBean.language}" onchange="submit()">
                                <f:selectItem itemValue="en" itemLabel="English"/>
                                <f:selectItem itemValue="ru" itemLabel="Russian"/>
                            </h:selectOneMenu>

                            &nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;

                            <a href="/app/logout">#{msg['label_header_logout']}</a>
                        </h:form>
                    </div>
                </div>
                <div class="ui-grid-col-2"/>
            </div>
        </div>

    </h:body>
</f:view>
</html>