<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sec="http://www.springframework.org/security/tags">

<f:view contentType="text/html">
    <h:head></h:head>
    <h:body>
        <h:form>
            <p:menu rendered="#{sec:areAnyGranted('ROLE_USER, ROLE_ADMIN')}">
                <p:menuitem value="#{msg['label_menu_technologymap']}" url="/app/technologymap"/>
                <p:separator/>
                <p:menuitem value="#{msg['label_menu_areas']}" url="/app/areas"/>
                <p:menuitem value="#{msg['label_menu_purposes']}" url="/app/purposes"/>
                <p:menuitem value="#{msg['label_menu_detergents']}" url="/app/detergents"/>
                <p:separator/>
                <p:menuitem value="#{msg['label_menu_dosages']}" url="/app/dosages"/>
                <p:menuitem value="#{msg['label_menu_periodicities']}" url="/app/periodicities"/>
                <p:menuitem value="#{msg['label_menu_usage']}" url="/app/usages"/>
                <p:menuitem value="#{msg['label_menu_temperatures']}" url="/app/temperatures"/>
                <p:menuitem value="#{msg['label_menu_expotimes']}" url="/app/expotimes"/>
                <p:menuitem value="#{msg['label_menu_siz']}" url="/app/sizs"/>
                <p:menuitem value="#{msg['label_menu_areacolor']}" url="/app/areacolors"/>
            </p:menu>
        </h:form>
    </h:body>
</f:view>
</html>
