<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view contentType="text/html" locale="#{localeBean.locale}">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>#{msg['application_name']}</title>
        <h:outputStylesheet name="css/custom.css"/>
    </h:head>
    <h:body>
        <p:layout fullPage="true">

            <p:layoutUnit position="north">
                <ui:insert name="header">
                    <ui:include src="header.xhtml"/>
                </ui:insert>
            </p:layoutUnit>

            <p:layoutUnit position="west" size="200" header="#{msg['label_menu_title']}" resizable="true" collapsible="true">
                <ui:insert name="menu">
                    <ui:include src="menu.xhtml"/>
                </ui:insert>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="content"/>
            </p:layoutUnit>

        </p:layout>
    </h:body>
</f:view>
</html>