<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/layouts/standard.xhtml">


    <ui:define name="content">
        <h1>#{msg['label_detergent_detergent']}</h1>
        <h:form >
            <h3>
                <h:outputText value="#{msg['label_detergent_short_name']}: "/>
                <h:outputText value="#{detergentViewBean.detergent.detergentShortName}"/>
            </h3>
            <h3>
                <h:outputText value="#{msg['label_detergent_name']}: "/>
                <h:outputText value="#{detergentViewBean.detergent.detergentName}"/>
            </h3>
            <h3>#{msg['label_detergent_dosages']}:</h3>
            <p:dataList value="#{detergentViewBean.detergent.dosagesAsList}" var="dosage">
                #{dosage.dosageContent}
            </p:dataList>
            <h3>#{msg['label_detergent_image']}:</h3>
            <p:graphicImage value="#{detergentViewBean.image}" cache="false"/>
            <p:toolbar>
                <p:toolbarGroup align="left">
                    <p:commandButton value="#{msg['label_button_back']}" icon="ui-icon-arrowreturn-1-w" action="exit"/>
                </p:toolbarGroup>
            </p:toolbar>
        </h:form>
    </ui:define>
</ui:composition>