<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://
www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/layouts/standard.xhtml">

    <ui:define name="content">

        <p:growl id="msgs" showDetail="true"/>

        <h:form id="formAdd">
            <p:panelGrid columns="1" id="panel">
                <p:outputLabel for="inputTextAddExpoTime" value="#{msg['label_expotime_new']}:"/>
                <p:inputText value="#{expoTimeListBean.newExpoTimeValue}" id="inputTextAddExpoTime"/>
                <f:facet name="footer">
                    <p:commandButton value="#{msg['label_expotime_add']}"
                                     actionListener="#{expoTimeListBean.addExpoTime}"
                                     update="formTable, formAdd"
                                     icon="ui-icon-plus"/>
                </f:facet>
            </p:panelGrid>
        </h:form>
        <h:form id="formTable">
            <h:panelGrid columns="1">
                <p:dataTable id="superDataTable"
                             var="expoTime"
                             value="#{expoTimeListBean.expoTimes}"
                             paginator="true"
                             rows="10"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink}
                                {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}
                                {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15"
                             rowKey="#{expoTime.id}"
                             selectionMode="single"
                             selection="#{expoTimeListBean.selectedExpoTime}"
                             editable="true"
                             editMode="row"
                             sortBy="#{expoTime.id}"
                             resizableColumns="true"
                            >
                    <f:facet name="header">
                        #{msg['label_expotime_list']}
                    </f:facet>

                    <p:ajax event="rowEdit" listener="#{expoTimeListBean.onRowEdit}" update=":msgs"/>

                    <p:column sortBy="#{expoTime.id}"
                              headerText="#{msg['label_expotime_id']}"
                              style="width:100px">
                        <h:outputText value="#{expoTime.id}" />
                    </p:column>

                    <p:column headerText="#{msg['label_expotime_value']}" sortBy="#{expoTime.expoTimeValue}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{expoTime.expoTimeValue}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{expoTime.expoTimeValue}"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column style="width:32px">
                        <p:rowEditor/>
                    </p:column>

                    <p:column style="width:32px">
                        <p:commandButton icon="ui-icon-trash"
                                         title="#{msg['label_expotime_delete_this']}"
                                         actionListener="#{expoTimeListBean.removeExpoTime(expoTime)}"
                                         ajax="true"
                                         update=":formTable"
                                         style="width:30px; height:20px"
                                         />
                    </p:column>

                </p:dataTable>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>