<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://
www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html" locale="#{localeBean.locale}">
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <title>Technology Map</title>
            <h:outputStylesheet name="css/custom.css"/>
        </h:head>
        <h:body>
            <p:layout fullPage="true">

                <p:layoutUnit position="center" size="500">

                    <div id="centerdiv">
                        <c:if test="${not empty param.login_error}">
                            <div class="error">
                                Your login attempt was not successful, try again.<br/>
                                Reason: #{sessionScope.SPRING_SECURITY_LAST_EXCEPTION.message}
                            </div>
                        </c:if>

                        <form name="f" action="${request.contextPath}/app/j_spring_security_check" method="post">
                            <p>
                                User:
                                <br/>
                                <c:if test="${not empty param.login_error}">
                                    <c:set var="username" value="${sessionScope.SPRING_SECURITY_LAST_USERNAME}"/>
                                </c:if>
                                <input type="text" name="j_username" value="#{username}"/>
                            </p>

                            <p>
                                Password:
                                <br/>
                                <input type="password" name="j_password"/>
                            </p>

                            <p>
                                <input type="checkbox" name="_spring_security_remember_me"/>
                                Don't ask for my password for two weeks
                            </p>

                            <p>
                                <input name="submit" type="submit" value="Login"/>
                            </p>
                        </form>
                    </div>

                </p:layoutUnit>

            </p:layout>

        </h:body>
    </f:view>

</ui:composition>