<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://
www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/layouts/standard.xhtml">

    <ui:define name="content">

        <p:growl id="msgs" showDetail="true"/>

        <h:form id="formAdd">
            <p:panelGrid columns="2" id="panel">
                <f:facet name="header">
                    <p:outputLabel value="#{msg['label_areacolor_new']}"/>
                </f:facet>

                <p:outputLabel for="inputTextAddAreaColorName" value="#{msg['label_areacolor_new_name']}:"/>
                <p:inputText value="#{areaColorListBean.addAreaColorName}" id="inputTextAddAreaColorName"/>

                <p:outputLabel for="inputTextAddAreaColorValue" value="#{msg['label_areacolor_new_value']}:"/>
                <p:colorPicker value="#{areaColorListBean.addAreaColorValue}" id="inputTextAddAreaColorValue"/>

                <f:facet name="footer">
                    <p:commandButton value="#{msg['label_areacolor_add']}"
                                     actionListener="#{areaColorListBean.addAreaColor}"
                                     update="formTable, formAdd"
                                     icon="ui-icon-plus"/>
                </f:facet>
            </p:panelGrid>
        </h:form>

        <h:form id="formTable">
            <h:panelGrid columns="1">
                <p:dataTable id="superDataTable"
                             var="areaColor"
                             value="#{areaColorListBean.areaColors}"
                             paginator="true"
                             rows="10"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink}
                                {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}
                                {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15"
                             rowKey="#{areaColor.id}"
                             selectionMode="single"
                             selection="#{areaColorListBean.selectedAreaColor}"
                             editable="true"
                             editMode="row"
                             sortBy="#{areaColor.id}"
                             resizableColumns="true"
                            >
                    <f:facet name="header">
                        #{msg['label_areacolor_list']}
                    </f:facet>

                    <p:ajax event="rowEdit" listener="#{areaColorListBean.onRowEdit}" update=":msgs"/>

                    <p:column sortBy="#{areaColor.id}"
                              headerText="#{msg['label_areacolor_id']}"
                              style="width:100px">
                        <h:outputText value="#{areaColor.id}" />
                    </p:column>

                    <p:column headerText="#{msg['label_areacolor_name']}" sortBy="#{areaColor.areaColorName}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{areaColor.areaColorName}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{areaColor.areaColorName}"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="#{msg['label_areacolor_value']}" sortBy="#{areaColor.areaColorValue}">
                                <h:outputText value="#{areaColor.areaColorValue}"/>
                    </p:column>

                    <p:column headerText="#{msg['label_areacolor_color']}" sortBy="#{areaColor.areaColorValue}">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="______"
                                            style="background-color: ##{areaColor.areaColorValue}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:colorPicker value="#{areaColor.areaColorValue}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column style="width:32px">
                        <p:rowEditor/>
                    </p:column>

                    <p:column style="width:32px">
                        <p:commandButton icon="ui-icon-trash"
                                         title="#{msg['label_areacolor_delete_this']}"
                                         actionListener="#{areaColorListBean.removeAreaColor(areaColor)}"
                                         ajax="true"
                                         update=":formTable"
                                         style="width:30px; height:20px"
                                         />
                    </p:column>

                </p:dataTable>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>