<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/layouts/standard.xhtml">
    <ui:define name="content">
        <h1>#{msg['label_dosage_edit_title']}</h1>
        <h:form enctype="multipart/form-data">
            <h:panelGrid columns="2">
                <h:outputLabel for="dosageContent">#{msg['label_dosage_content']}
                </h:outputLabel>
                <p:inputText id="dosageContent" value="#{dosageEditBean.dosage.dosageContent}"/>
            </h:panelGrid>

            <h3>#{msg['label_dosage_image']}:</h3>
            <p:fileUpload fileUploadListener="#{dosageEditBean.handleFileUpload}"
                          allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
                          previewWidth="200"
                          mode="advanced"
                          sizeLimit="1000000"
                          multiple="false"
                          auto="true"
                          update="uploadedPhoto"
                          label="#{msg['label_button_choose']}"
                    />
            <p:graphicImage
                    id="uploadedPhoto"
                    value="#{dosageEditBean.image}"
                    cache="false"
                    />

            <p:toolbar>
                <p:toolbarGroup align="left">
                    <p:commandButton value="#{msg['label_button_back']}" icon="ui-icon-arrowreturn-1-w" action="exit" immediate="true"/>
                    <p:commandButton value="#{msg['label_button_save']}" icon="ui-icon-check" action="save"/>
                </p:toolbarGroup>
            </p:toolbar>

        </h:form>
    </ui:define>
</ui:composition>