<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://
www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/layouts/standard.xhtml">

    <ui:define name="content">

        <p:growl id="msgs" showDetail="true"/>

        <h:form id="formAdd">
            <p:panelGrid columns="1" id="panel">
                <p:outputLabel for="inputTextAddDosage" value="#{msg['label_dosage_new_content']}:"/>
                <p:inputText value="#{dosageListBean.addDosageContent}" id="inputTextAddDosage"/>
                <p:fileUpload fileUploadListener="#{dosageListBean.handleAddDosageFileUpload}"
                              allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
                              previewWidth="200"
                              mode="advanced"
                              sizeLimit="1000000"
                              multiple="false"
                              auto="true"
                              update="uploadedAddDosagePhoto"
                        />
                <p:graphicImage
                        id="uploadedAddDosagePhoto"
                        value="#{dosageListBean.addDosageImage}"
                        cache="false"
                        />
                <f:facet name="footer">
                    <p:commandButton value="#{msg['label_dosage_add']}"
                                     actionListener="#{dosageListBean.addDosage}"
                                     update="formTable, formAdd"
                                    icon="ui-icon-plus"/>
                </f:facet>
            </p:panelGrid>
        </h:form>
        <h:form id="formTable">
            <h:panelGrid columns="1">
                <p:dataTable id="superDataTable"
                             var="dosage"
                             value="#{dosageListBean.dosages}"
                             paginator="true"
                             rows="10"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink}
                                {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}
                                {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15"
                             rowKey="#{dosage.id}"
                             selectionMode="single"
                             selection="#{dosageListBean.selectedDosage}"
                             editable="true"
                             editMode="row"
                             sortBy="#{dosage.id}"
                             resizableColumns="true"
                        >
                    <f:facet name="header">
                        #{msg['label_dosage_list']}
                    </f:facet>

                    <p:ajax event="rowEdit" listener="#{dosageListBean.onRowEdit}" update=":msgs"/>

                    <p:column sortBy="#{dosage.id}"
                              headerText="#{msg['label_dosage_id']}"
                              style="width:100px">
                        <h:outputText value="#{dosage.id}"/>
                    </p:column>

                    <p:column headerText="#{msg['label_dosage_content']}"
                              sortBy="#{dosage.dosageContent}"
                              style="white-space: normal">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{dosage.dosageContent}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{dosage.dosageContent}"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="Image">
                        <p:graphicImage value="#{dosageListBean.image}" cache="false" width="100">
                            <f:param name="imageId" value="#{dosage.id}"/>
                        </p:graphicImage>
                    </p:column>

                    <p:column style="width:32px">
                        <p:rowEditor/>
                    </p:column>

                    <p:column style="width:32px">
                        <p:commandButton icon="ui-icon-trash"
                                         title="#{msg['label_dosage_delete_this']}"
                                         actionListener="#{dosageListBean.removeDosage(dosage)}"
                                         ajax="true"
                                         update=":formTable"
                                         style="width:30px; height:20px"
                                />
                    </p:column>

                    <f:facet name="footer">
                        <div align="left">
                            <p:commandButton value="#{msg['label_button_edit']}" icon="ui-icon-pencil" action="edit" />
                        </div>
                    </f:facet>
                </p:dataTable>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>