<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/layouts/standard.xhtml">


    <ui:define name="content">
        <h1>#{msg['label_area_area']}</h1>
        <h:form >
            <h3>
                <h:outputText value="#{msg['label_area_name']}: "/>
                <h:outputText value="#{areaViewBean.area.areaName}"/>
            </h3>
            <h3>#{msg['label_area_purposes']}:</h3>
            <p:dataList value="#{areaViewBean.area.purposesAsList}" var="purpose">
                #{purpose.purposeName}
            </p:dataList>
            <p:toolbar>
                <p:toolbarGroup align="left">
                    <p:commandButton value="#{msg['label_button_back']}" icon="ui-icon-arrowreturn-1-w" action="exit"/>
                </p:toolbarGroup>
            </p:toolbar>
        </h:form>
    </ui:define>
</ui:composition>