<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://
www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/layouts/standard.xhtml">

    <ui:define name="content">

        <p:growl id="msgs" showDetail="true"/>

        <h:form id="formAdd">
            <p:panelGrid columns="2" id="panel">
                <f:facet name="header">
                    <p:outputLabel value="#{msg['label_usage_new']}"/>
                </f:facet>

                <p:outputLabel for="inputTextAddUsage" value="#{msg['label_usage_new_name']}:"/>
                <p:inputText value="#{usageListBean.addUsageName}" id="inputTextAddUsage"/>

                <p:outputLabel for="inputTextAddUsageStandard" value="#{msg['label_usage_new_standard']}:"/>
                <h:selectOneMenu value="#{usageListBean.addUsageStandard}" id="inputTextAddUsageStandard">
                    <f:selectItems value="#{usageListBean.standards}"
                                   var="standard"
                                   itemLabel="#{standard}"
                                   itemValue="#{standard}"/>
                </h:selectOneMenu>

                <f:facet name="footer">
                    <p:commandButton value="#{msg['label_usage_add']}"
                                     actionListener="#{usageListBean.addUsage}"
                                     update="formTable, formAdd"
                                     icon="ui-icon-plus"/>
                </f:facet>
            </p:panelGrid>
        </h:form>

        <h:form id="formTable">
            <h:panelGrid columns="1">
                <p:dataTable id="superDataTable"
                             var="usage"
                             value="#{usageListBean.usages}"
                             paginator="true"
                             rows="10"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink}
                                {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}
                                {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15"
                             rowKey="#{usage.id}"
                             selectionMode="single"
                             selection="#{usageListBean.selectedUsage}"
                             editable="true"
                             editMode="row"
                             sortBy="#{usage.id}"
                             resizableColumns="true"
                            >
                    <f:facet name="header">
                        #{msg['label_usage_list']}
                    </f:facet>

                    <p:ajax event="rowEdit" listener="#{usageListBean.onRowEdit}" update=":msgs"/>

                    <p:column sortBy="#{usage.id}"
                              headerText="#{msg['label_usage_id']}"
                              style="width:100px">
                        <h:outputText value="#{usage.id}" />
                    </p:column>

                    <p:column headerText="#{msg['label_usage_name']}" sortBy="#{usage.usageName}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{usage.usageName}"/></f:facet>
                            <f:facet name="input"><p:inputText value="#{usage.usageName}"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="#{msg['label_usage_standard']}" sortBy="#{usage.usageStandard}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{usage.usageStandard}"/></f:facet>
                            <f:facet name="input">
                                <h:selectOneMenu value="#{usage.usageStandard}">
                                    <f:selectItems value="#{usageListBean.standards}"
                                            var="standard"
                                            itemLabel="#{standard}"
                                            itemValue="#{standard}"/>
                                </h:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column style="width:32px">
                        <p:rowEditor/>
                    </p:column>

                    <p:column style="width:32px">
                        <p:commandButton icon="ui-icon-trash"
                                         title="#{msg['label_usage_delete_this']}"
                                         actionListener="#{usageListBean.removeUsage(usage)}"
                                         ajax="true"
                                         update=":formTable"
                                         style="width:30px; height:20px"
                                         />
                    </p:column>

                </p:dataTable>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>